.Home {
  z-index: 100;
  position: relative;
  width: 1396px;
  max-width: 100%;
  height: calc(100vh - 25px);
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

//   box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.06),
//     0 12px 15px 0 rgba(0, 0, 0, 0.06);

.Home__second {
  z-index: 100;
  position: relative;
  width: 1396px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

.message {
  position: absolute;
  top: 50%;
  left: 42%;
  font-size: 1.5rem;
  font-weight: 500;
}

.Home .leftside {
  // position: relative;
  flex: 30%;
  background: rgba(0, 0, 0, 0.16);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.Home .rightside {
  // position: relative;
  flex: 70%;
  //   background: #e5ddd5;
  background: rgba(0, 0, 0, 0.26);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.mic__wrapper,
.data__wrapper {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.sample_answer {
  width: 100%;
  background-color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 20px;

  h3 {
    font-size: 1.1rem;
  }
  p {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.data__wrapper {
  width: 100%;
  padding: 1rem 1.3rem;
  overflow-y: scroll;

  h2 {
    margin-bottom: 15px;
  }
}

.data__display {
  width: 100%;
  background-color: #fff;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;

  .data__display--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
  }
}
