.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: flex;
  // flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 10px;

  .mic__container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 50%;
      object-fit: contain;
    }
  }
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;

  .stop_watch {
    font-size: 12px;
    border: none;
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    color: black;
  }

  button {
    font-size: 12px;
    border: 1px solid black;
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
  }
}
